<h4>Do's and Don'ts</h4>
<dlink [id]="82"></dlink>
<p>
  In your application, 80–90% of your components should be presentational. A
  presentational component should take Inputs and emit Outputs, nothing else.
  Yes, it may have its little inner state: that’s not a problem. It’s perfectly
  fine for a TabsComponent, for example, to accept an index from outside but
  keeping the currentIndex in a property. As long as it has an indexChange
  output who tells the parent about the change (bonus: having the
  index/indexChange pair will let you use the 2-way-binding syntax [(index)] in
  Angular!). Does that make the component less-stateless? Yes, but it’s still
  manageable from the outside and it can also work on its own. Win win.
</p>

<p>
  <strong>What’s a container?</strong> It’s the component which hosts all the presentational
  components of that “view”, or route: it’s the only one which should use
  services to get/update data, which should use the Redux store, which should
  dispatch actions, and which should pass its inner state (or slices of that) to
  the child components. All the child components are presentational and should
  not even know where the data has come from or what the consequences of their
  Outputs will be. If tomorrow you decide to include a state-management library
  or to get rid of it, your presentational components won’t break.
</p>

<p>Do</p>
<ul>
  <li>Use ChangeDetectionStrategy OnPush</li>
  <li>Container Componentns delegate responsibilities to a service.</li>
  <li>Containers can be split if they are too big</li>
  <li>Use Directives as a way to incapsulate behaviors and reuse them</li>
  <li>Use Content Projection</li>
  <li>Huge forms : Use ControlValueAccessor to create sub-forms.</li>
</ul>

<p>DONT</p>
<ul>
  <li>Modify the Input data directly</li>
  <li>Use models from other modules</li>
  <li>Your containers shouldn’t do have complicated logic. Use services</li>
</ul>
