
<div class="todo-list-wrapper" style="border: solid 4px violet;background-color:lightGrey;padding:5px;">
  <h5 class="red">Start the start-www script to use this example</h5>
  <h4>Creating Reusable Angular Components — How To Avoid the Painful Trap Most Go In</h4>  

<p>
  When having multiple teams working together it makes sense to reuse components between projects. There are two main
  ways to create reusable components in Angular:
</p>
<p>
  Pass inputs to the component, passing the necessary data to the component used for rendering and configuring the
  component. This normally involves iterating over the provided data and follow a convention for how to render the data.
</p>
<p>
  Use transclusion/content projection to pass a template to the reusable component and show the templateRefs inside the
  component using the <code>ngTemplateOutlet</code> directive or <code>ng-content</code>. The example below uses <code>ngTemplateOutlet</code>.
</p>
<p>
  The choice of which technique to reuse components you should use is determined by the desired flexibility. If you have
  a simple reusable component that doesn’t need to be very flexible, simply using inputs will do. An example of this is
  a simple questionnaire that should be dynamically rendered using json data from an API.
</p>
<p>
  On the other hand, this becomes a pain when you need to pass lots of inputs to the component to provide the necessary
  data to the component. For example, you might need a fieldsDefinitions and actionDefinitions input for determining the
  fields and different actions in a list and inside the reusable component, you then need to have a lot of logic to
  render the input data. I have seen cases here where this has escalated to creating a dedicated DSL for rendering
  components. This gets very painful as the amount of input keeps growing, as well as the complexity of the reusable
  component as it should handle more edge cases, in the end making the component harder to reuse than if it were simply
  copied and modified to serve the purpose.
</p>
<p>
  What you want to do instead is allow for an external template to plug into the component using either templateRef or
  ng-content. <span class="highlight">In summary, use template
  projection when more flexibility is needed for the reusable component.</span>
</p>
<p style="padding: 5px;background-color: antiquewhite;"><span class="highlight">Should you use template reference (templateRef) or ng-content?</span><br>
  There is a subtle difference between using templateRef vs. using ng-content because of how Angular’s lifecycle
  management works. Angular’s OnInit and onDestroy hooks works for component where they are declared, not where they are
  used/rendered. That means, if using ng-content, the child will not be destroyed when destroying the component
  containing the ng-content. Also for a child component being instantiated with ng-content, the constructor and init
  hooks will also be invoked regardless of if the child component has been rendered in the DOM. For that reason, passing
  the template projection as templateRef is the most maintainable and performant, as the lifecycle hooks are only
  getting called if the templateRef have actually been rendered in the DOM and because it gets destroyed with the
  component instantiating the templateRef.</p>
  

  <div class="mx-auto col-10">
    <todo-views-container 
      [tableRef]="todoItemLayout2" 
      [listRef]="todoItemLayout1" 
      [data]="todoList">
    </todo-views-container>
  </div>
  <hr>
  <app-add-todo-form [currentToDo]="currentToDo"></app-add-todo-form>
</div>

<ng-template #todoItemLayout1 let-todo="data">
  <todo-item-layout-1 
    [todoItem]="todo"
    (todoDelete)="deleteTodo($event)" 
    (todoEdit)="editTodo($event)"
  ></todo-item-layout-1>
</ng-template>

<ng-template #todoItemLayout2 let-todos="data">
  <ul class="list-group mb-3">
    <todo-item-layout-2 
      *ngFor="let todo of todos" 
      [todoItem]="todo" 
      (todoDelete)="deleteTodo($event)"
      (todoEdit)="editTodo($event)"
    ></todo-item-layout-2>
  </ul>
</ng-template>