<div>
  <h4>Using Zones to speed up an Application</h4>

  <pre>this.zone.runOutsideAngular()</pre>

  <p>
    So the reason it's faster outside of the NgZone is because when you add a handler to an event like "mousemove" it is
    actually using
    Zone.onmousemove, which triggers the change detection when the event occurs. Binding the event handler outside
    of Zone stops the change detection being triggered. If you look at the console you will only see the change detection
    happening a few times when it's outside.
  </p>

  <p class="strong">
    One interesting point is that the change detection for a component won't be invoked unless it is using
    any of the monkey-patched events. i.e. if there if there are no event handler like (mousedown)="mouseDown($event)"
    then the ngDoCheck() will not be called.
  </p>

  <p>
    <span style="font-weight: bold">Monkey-patched Hooks</span><br>
    For example, when we call setTimeout() we actually call Zone.setTimeout(), which in turn creates a new zone using
    zone.fork() in which the given handler is executed. And that’s why our hooks are executed as well, because the
    forked zone in which the handler will be executed, simply inherits from the parent zone.
  </p>
</div>
