<section>
  <p class="file">/misc-examples/components/dependecy-injection/dependency.html</p>
  <h4>Dependency Injection</h4>
  <p class="links">
    <a target="_blank" href="http://blog.thoughtram.io/angular/2015/05/18/dependency-injection-in-angular-2.html"
       target="_blank">
      Dependency Injection
    </a>
    <a href="http://blog.thoughtram.io/angular/2016/05/23/opaque-tokens-in-angular-2.html" target="_blank">
      InjectionToken (was OpaqueToken)
    </a>
    <a href="https://blog.thoughtram.io/angular2/2015/11/23/multi-providers-in-angular-2.html" target="_blank">
      Multi Providers
    </a>
    <a target="_blank" href="http://blog.thoughtram.io/angular/2016/09/14/bypassing-providers-in-angular-2.html"
       class="block" target="_blank">
      BYPASSINGPROVIDERS IN ANGULAR 2
    </a>
    <a
      href="http://stackoverflow.com/questions/39828246/angular-2-how-to-isolate-service-provider-in-a-feature-module"
      target="_blank" class="block" target="_blank">
      Angular 2 how to isolate service provider in a feature module
    </a>
  </p>

  <p class="strong">Every component comes with its own injector</p>

  <p class="strong">Providers are flattened, meaning that, if there are multiple providers with the same token, the
    last one wins. Use Tokens to void this.</p>

  <p class="strong">When using a string token we HAVE to use @Inject, i.e. <code>@Inject('whateverToken') public
    some3</code></p>

  <p class="strong">
    multi providers basically extend the thing that is being injected for a particular token.
    Angular uses this mechanism to provide pluggable hooks i.e extending NG_VALIDATORS
  </p>

  <p>
    <strong>If we provide services in a module they will be globally available as all modules use the root
      injector. This is NOT the case with Lazy loaded modules.</strong>
    Essentially lazy loading could trigger
    certain bugs related to services overriding each other in the global context
    that are hard to reproduce due to accidental overwrites of injectables.
    In order to avoid this this, angular will create a child dependency injection context.
    This context will contain the service, but this service will not be visible to the rest of the application.
  </p>

  <p>
    <strong>When a module is loaded at application launch, its @NgModule.providers have application-wide scope.
      They are available for injection throughout the application.</strong> Load the module lazily if you can.
    Angular gives a lazy-loaded module its own child injector. The module's providers are visible only
    within the component tree created with this injector. If you must load the module eagerly, when the
    application starts, provide the service in a component instead <a
    href="https://stackoverflow.com/questions/39828246/angular-2-how-to-isolate-service-provider-in-a-feature-module"
    target="_blank">Taken
    from here</a>
  </p>

  <ul>
    The DI in Angular 2 basically consists of three things:<br>
    <li><span class="red">Injector</span> - The injector object that exposes APIs to allow us to create instances of
      dependencies
    </li>
    <li><span class="red">Provider</span> - A provider is like a recipe that tells the injector how to create an
      instance of a dependency. A provider takes a token and maps that to a factory function that creates an object.
    <li><span class="red">Dependency</span> - A dependency is the type of which an object should be created.</li>
  </ul>

  <i>We get a service from a dependency injector by giving it a token.</i>

  <code>constructor(logger: LoggerService) &#123;
    logger.logInfo('Creating HeroBiosComponent');
    &#125;</code>

  <p>In the case above Angular asks the injector for the service associated
    with the token called "LoggerService" and assigns the returned value
    to the logger parameter.</p>

  <p class="strong">A provider is a recipe for delivering a service associated with a
    token.</p>

  <p>If the injector doesn't have a provider for the requested token, it delegates
    the request to its parent injector, where the process repeats until there are
    no more injectors.</p>

  <p>A new injector has no providers. Each component has it's own injector or child-injector.</p>

  <i>The simple "class" Provider is the most typical by far.</i>

  <code>&#123; provide: LoggerService, useClass: DateLoggerService &#125;</code>
  <p>The provide object literal above takes a token and a definition object. The token is usually a class but it
    doesn't have to be.</p>
  <p class="strong">The “LoggerService” is the token, the “DateLoggerService” is the Definition Object or Factory</p>


  <p><strong>Set the "useValue" property to a fixed value that the provider can return as the dependency
    object.</strong>
    Use this technique to provide runtime configuration constants such as web-site
    base addresses and feature flags. We often use a value provider in a unit test
    to replace a production service with a fake or mock.</p>
</section>
