<div class="comps">
  <section collapse-it>
    <p class="path">
      misc-examples/components/dependency-injection/pipes.component.ts
    </p>
    <h4>Notes on Pipes</h4>
    <p class="links">
      <dlink [id]="68"></dlink>
      <dlink [id]="5"></dlink>
    </p>

    <p>
      <strong>There are two categories of pipes: pure and impure</strong>. Pipes
      are pure by default. You make a pipe impure by setting its pure flag to
      false.
    </p>

    <p>
      <strong
        >Angular executes a pure pipe only when it detects a pure change to the
        input value. </strong
      >A pure change is either a change to a primitive input value (String,
      Number, Boolean, Symbol) or a changed object reference (Date, Array,
      Function, Object).
    </p>

    <p>
      <strong
        >Angular puts an additional restriction on a pipe to be considered
        pure — the input to the pipe cannot be mutable</strong
      >. If the input is mutable, a pipe need to be re-evaluated on every digest
      because an input object can be mutated without changing the object
      reference (the pipe parameter stays the same). And that’s exactly why both
      JsonPipe and SlicePipe pipes are not considered pure despite not having an
      internal state.
    </p>

    <p>
      <code>onChanges()</code> lifecycle hook will be called when any of the
      @inputs properties change
    </p>

    <p>
      This may seem restrictive but it's also fast. An object reference check is
      fast—much faster than a deep check for differences
    </p>

    <p class="strong">
      Angular executes an impure pipe during every component change detection
      cycle. An impure pipe is called often, as often as every keystroke or
      mouse-move.
    </p>
  </section>

  <section collapse-it>
    <p class="path">
      misc-examples/components/dependency-injection/pipes.component.ts
    </p>
    <h4>Pure and Impure Pipe lists example</h4>

    <p style="font-size:13px; font-weight:bold">
      flying-heros.pipe.ts and from-now.pipe.js 
    </p>

    <p>
      Notice below when adding Impure values, the impure list updates but the
      Pure list does not. This is because the pipe is pure and will only update when
      it's @Input changes.
    </p>

    <p>Also notice that the pipe is being used with a list </p>
    <code>*ngFor="let hero of heroes | flyingHeroesPure"</code>

    <p>
      Both the Pure and Impure list share the same array but Impure is pushing
      new items into the array, whereas Pure is returning a new array
    </p>

    <p class="strong">
      Also notice the Impure list updates when adding to the Pure list as it's
      Impure and will update on every digest loop.
    </p>

    <section class="example">
      <div>See the console for output.</div>

      <input type="text" placeholder="Type Name" #name />
      <button (click)="addImpureHero(name)">Add Impure Hero</button>
      <button (click)="addPureHero(name)">Add Pure Hero.</button>

      <span class="title">Pure</span>
      <div *ngFor="let hero of heroes | flyingHeroesPure">
        {{ hero.name }} - {{hero.date | fromNow}}
      </div>

      <span class="title">ImPure</span>
      <div *ngFor="let hero of heroes | flyingHeroesImpure">
        {{ hero.name }} - {{hero.date | fromNow}}
      </div>
    </section>
  </section>
</div>
