<div class='comps'>

  <section collapse-it>
    <h4>Common RxJs uses with HTTP requests</h4>
    <p>These are all the different <highlight>RxJs Operators</highlight> used in this Search Examples page</p>
    <code>
          .pipe(map(term => (!term.length ? "" : "Enter a term"))) <br>
          .pipe(mapTo([])) <br>
          .pipe(tap((val)=>console.log(val))) <br>
          .pipe(distinctUntilChanged())  <br>
          .pipe(debounceTime(250))  <br>
          .pipe(delay(1000))  <br>
          .pipe(filter(term => term.length > 2)) <br>
          .pipe(switchMap(this.wikipediaImageSearch.bind(this))) <br>
          .pipe(mergeMap(this.wikipediaService.getImageInfoFromTitle))  <br> 
          .pipe(startWith([]))  <br>
          .pipe(concatAll())  <br>
          .pipe(takeUntil(this.input$)) <br>
          .pipe(scan((acc, curr) => [...acc, ...curr])); <br>
          .pipe(share());  <br>
        </code>
  </section>

  <collapse-it>
    <john-linquist-wiki></john-linquist-wiki>
  </collapse-it>

  <collapse-it>
    <reddit-example></reddit-example>
  </collapse-it>

  <collapse-it>
    <wikipedia-promise></wikipedia-promise>
  </collapse-it>

  <collapse-it>
    <wikipedia-observable></wikipedia-observable>
  </collapse-it>

  <collapse-it>
    <echonest-search-component></echonest-search-component>
  </collapse-it>

  <collapse-it>
    <auth0-example></auth0-example>
  </collapse-it>

  <collapse-it>
    <ngbook-youtube-example></ngbook-youtube-example>
  </collapse-it>

  <collapse-it>
    <youtube-basic-example></youtube-basic-example>
  </collapse-it>

  <collapse-it>
    <local-ref-search></local-ref-search>
  </collapse-it>

  <collapse-it>
    <forkjoin-app></forkjoin-app>
  </collapse-it>

  <collapse-it>
    <star-wars></star-wars>
  </collapse-it>

</div>