h4 {
    background: rgba(90, 142, 8, 0.8);
    display: table;
    padding: 5px 15px;
    color: white;
    border-radius: 3px;
    font-weight: normal;
    box-shadow: 0px 6px 14px 1px rgba(0,0,0,0.58);
    z-index: 2;
}

hr {
    margin-bottom: 0;
}

pre.limit-height {
    height: 200px;
    overflow: scroll;
    display: inline-block;
}