.products-list {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.product-row {
  border-bottom: 1px solid black;
}

.product-image {
  float: left;
}

.product-info {
  float: left;
}

.price-display {
  float: right;
}

.product-image {
  width: 100px;
  height: 100px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

cf {
  *zoom: 1;
}

