<h2>Form 3 using FormBuilder, ngFormModel and ngFormControl</h2>

<pre>
    Remember how earlier we said that when using FORM_DIRECTIVES
    that NgForm will be automatically applied to a form element?
    There is an exception: NgForm won't be applied to a form that has ngFormModel.
    <h3>
        &lt;form [ngFormModel]="myForm" (submit)="onSubmit(myForm.value)"&gt;
        &lt;input type="text" [ngFormControl]="sku"&gt;
    </h3>
    Remember that <strong>ngControl</strong> creates a new Control object,
    and attaches it to the parent ControlGroup.
    But in this case, we used FormBuilder to create our own Controls.
    When we want to bind an existing Control to an input we use <strong>[NgFormControl]</strong>,
    even though ngControl still seems to work. see examples below
</pre>

<form [ngFormModel]="myForm" (submit)="onSubmit(myForm.value)">

    <div *ngIf="!myForm.valid" class="bg-warning">FormBuilder form is invalid</div>


    <div class="form-group">
        <div class="formHeading">First Name</div>
        <input type="text" id="firstName" ngControl="firstName">
        <span *ngIf="!myForm.controls.firstName.valid">
            First Name is required and has be more than 4 chars
        </span>
    </div>



    <div class="form-group" [class.has-error]="!sku.valid && sku.touched">
        <h3 style="color:crimson;">1) Using FormBuilder controls and controlGroups</h3>
        <label for="skuInput">SKU</label>
        <input type="text"
               class="form-control"
               id="skuInput"
               placeholder="SKU"
               [ngFormControl]="sku">

        <div *ngIf="!sku.valid && sku.touched" class="bg-warning">SKU is invalid</div>
        <div *ngIf="sku.hasError('required')" class="bg-warning">SKU is required</div>
        <div *ngIf="myForm.hasError('invalidSku', 'sku')" class="bg-warning">Custom  Validator : SKU must begin with <tt>123</tt></div>
    </div>



    <div class="form-group">
        <h3 style="color:crimson;">2) Using a local reference using form export from the NgFormControl directive</h3>
        <span>Components can export a reference themselves so that you can use them in the view.</span><br>
        <label for="pkuInput">PKU</label>
        <input type="text"
               class="form-control"
               id="pkuInput"
               placeholder="PKU"
               #pku="ngForm"
               [ngFormControl]="myForm.controls['pku']">

        <div *ngIf="!pku.control.valid" class="bg-warning">PKU is invalid</div>
        <div *ngIf="pku.control.hasError('required')" class="bg-warning">PKU is required</div>
    </div>



    <div class="form-group">
        <h3 style="color:crimson;">3) Using ng-model and myForm.find</h3>
        <div>The product name is: {{productName}}</div>

        <input type="text"
               class="form-control"
               id="productNameInput"
               placeholder="Product Name"
               [ngFormControl]="myForm.find('productName')"
               [(ngModel)]="productName">

        <div *ngIf="!productName" class="bg-warning">productName is invalid</div>
    </div>


    <button type="submit" class="btn btn-default">Submit</button>

    <pre>{{payLoad}}</pre>

</form>