<div [style.background-color]="'yellow'">
  Uses fixed yellow background
</div>


<div [ngStyle]="{color: 'white', 'background-color': 'blue'}">
  Uses fixed white text on blue background
</div>


<div>
      <span [ngStyle]="{color: 'red'}" [style.font-size.px]="fontSize">
        red text
      </span>
</div>

<div [ngStyle]="style"></div>

<div>
      <span [ngStyle]="{color: color}">
        {{ color }} text
      </span>
</div>


<div [style.background-color]="color"
     style="color: white;">
  {{ color }} background
</div>

<div class="ui input">
  <input type="text" name="color" value="{{color}}" #colorinput>
</div>

<div class="ui input">
  <input type="text" name="fontSize" value="{{fontSize}}" #fontinput>
</div>

<button class="ui primary button" (click)="apply(colorinput.value, fontinput.value)">
  Apply settings
</button>
