<div class="comps">
  <!-- Links -->
  <collapse-it>
    <p class="file">
      /misc-examples/components/change-detection/change.components.ts
    </p>
    <h4>Links for change detection</h4>

    <section class="links">
      <a routerLink="/httprx/echonest-app"
        >Change Detection in EchonestService</a
      >
      <dlink [id]="44"></dlink>
      <dlink [id]="45"></dlink>
      <dlink [id]="46"></dlink>
      <dlink [id]="47"></dlink>
      <dlink [id]="48"></dlink>
      <dlink [id]="49"></dlink>
      <dlink [id]="50"></dlink>
    </section>
  </collapse-it>

  <!-- Notes -->
  <collapse-it>
    <p class="file">
      /misc-examples/components/change-detection/change.components.ts
    </p>
    <h4>Notes on change detection</h4>
    <ul>
      <li>
        Each Angular component has an associated change detector, which is
        created at application startup time
      </li>

      <li>
        Somewhere in Angular’s source code,there’s this thing called
        <highlight
          >ApplicationRef, which listens to NgZones onTurnDone event</highlight
        >. Whenever this event is fired, it executes a tickReducer() function
        which essentially performs change detection.
      </li>

      <li>
        When an component is set to <code>onPush()</code>, this will only stop
        the template's bindings from being checked. This is because in order to
        find out if an input has changed or not (to skip a component’s view),
        Angular needs to check the component.
      </li>

      <li>
        Each Angular component has an associated change detector, which is
        created at application startup time
      </li>

      <li>
        Change detection is triggered if any of the components @Inputs change.
        If the @Input is an object then only the object properties used in the
        template i.e object.firstName, will be checked
      </li>

      <li>
        When using OnPush detectors, then the framework will check an OnPush
        component when any of its input properties changes, when it fires an
        event, or when an Observable fires an event
      </li>

      <li>
        One of the important properties of Angular change detection is that
        unlike Angular 1 it enforces a uni-directional data flow: when the data
        on our controller classes gets updated, change detection runs and
        updates the view.
      </li>

      <li>
        If we want to toggle on/off change detection, and triggering it manually
        we just detach the change detector, which effectively turns off change
        detection. Then we simply trigger it manually every 5 seconds by calling
        detectChanges()
      </li>
      <li>ngDoCheck will get called even if the changeDetector is detached</li>
    </ul>

    <p>
      <code>ChangeDetectionStrategy.OnPush</code> <br />
      In Angular 2, components can subscribe to the
      <highlight
        ><code>onChanges()</code> lifecycle hook, which will be called when any
        of the @inputs properties change</highlight
      >. this doesn't happen if changeDetection.OnPush is set. Only when the
      @input reference changes does it get called. This is the case for
      immutability.
    </p>
  </collapse-it>

  <collapse-it>
    <change-component></change-component>
  </collapse-it>

  <collapse-it>
    <immutable-object-component></immutable-object-component>
  </collapse-it>

  <immutable-list-component></immutable-list-component>

  <collapse-it>
    <mark-for-check></mark-for-check>
  </collapse-it>

  <collapse-it>
    <detect-changes></detect-changes>
  </collapse-it>

  <change-detection-sample-app></change-detection-sample-app>

  <collapse-it>
    <parent-obs></parent-obs>
  </collapse-it>

  <collapse-it>
    <observable-change-detection-sample-app></observable-change-detection-sample-app>
  </collapse-it>
</div>
