<section class="main">
  <h3>CHANGE DETECTION</h3>
  <a href="http://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html" target="_blank">Thoughtram
    Change Detection Explained</a>
  <a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2" target="_blank">Victor Savin Change
    Detection</a>
  <a href="http://blog.scottlogic.com/2015/12/07/angular-2.html" target="_blank">ScottLogic Building a todo list</a>
  <a href="http://victorsavkin.com/post/133936129316/angular-immutability-and-encapsulation" target="_blank">
    Immutability vs Encapsulation
  </a>

  <pre>
Somewhere in Angular’s source code,there’s this thing called <strong>ApplicationRef</strong>,
  which listens to NgZones onTurnDone event. Whenever this event is fired, it executes a tick()
function which essentially performs change detection.
</pre>

  <p>
    In Angular 2, components can subscribe to the <strong>onChanges</strong> lifecycle hook,
    which will be called when any of the @inputs properties change. this doesn't happen if
    changeDetection.OnPush is set. Only when the @input reference changes does it get called.
    This is the case for immutability
  </p>

  <pre>{changeDetection: ChangeDetectionStrategy.OnPush}</pre>

  <pre>
What's interesting below is if you type into the "Local Ref"
input, which is using a local variable reference and not
ngModel, the change detection isn't triggered. It only works
on the ngModel.
</pre>

  <p>
    Try removing the <strong>ChangeDetectionStrategy.OnPush from the
    TodoListComponent</strong> and then type into the first input ( the one using ng-model) and you will see
    in the console the component's text property is called on every event.
  </p>
  <p>Local template variables using #reference <i>(press return to add item)</i></p>
</section>

<input type="text" #inputty (keyup.enter)="addItem(inputty.value); inputty.value=''" placeholder="Local Ref">
<input type="text" [(ngModel)]="todoStr" (keyup.enter)="addItem(todoStr)" placeholder="ngModel">
<button (click)="addItem(todoStr)">{{todoItem ? 'Update' : 'Add'}}</button>
<todolist-component [store]="store" (editme)="setTodoItem($event)"></todolist-component>


