<div header>
  <p class="path">forms/components/form-1.ts</p>
  <h4>Template driven forms using ngModel and input refs but not using ngForm</h4>

  These two are the same. one is the long hand syntax
  <code>
    &lt;input type="text" [(ngModel)]="newItem"&gt;
    &lt;input type="text" [ngModel]="newItem" (ngModelChange)="newItem=$event"&gt;</code>



  <h3>= input-controls.ts (/forms) in old</h3>

  <div class="input-controls">
    <h5>"Two way bindings"</h5>
    <input [(ngModel)]="name"/>
    <div>Current Value: {{name}}</div>
  </div>


  <div class="input-controls">
    <h5>Select a gender</h5>
    <label>
      <input name="gender"
             type="radio"
             value="Male"
             #gend="ngModel"
             [(ngModel)]="gender"/>Male {{gend.valid}}
    </label>
    <label>
      <input name="gender"
             type="radio"
             value="Female"
             #female
             (click)="gender=female.value"
             [(ngModel)]="gender"/>Female
    </label>
    <div>Selected gender is <strong>{{gender}}</strong></div>
  </div>


  <div class="input-controls">
    <h5>Select your programming skills</h5>
    <div>
      <label>
        <input #angularcb
               type="checkbox"
               (change)="angular = angularcb.checked"
               [(ngModel)]="angular"/>
        Angular
      </label>
    </div>
    <div>
      <label><input #javascriptcb type="checkbox" (change)="javascript = javascriptcb.checked"
                    [(ngModel)]="javacript"/>JavaScript</label>
    </div>
    <div>
      <label><input #csharpcb type="checkbox" (change)="csharp = csharpcb.checked" [(ngModel)]="csharp"/>C#</label>
    </div>
  </div>

  <div style="background-color: whitesmoke; display: table;">
    Selected Skills:
    <ul>
      <li *ngIf="angular">Angular</li>
      <li *ngIf="javascript">JavaScript</li>
      <li *ngIf="csharp">C#</li>
    </ul>
  </div>

  <a href="http://www.syntaxsuccess.com/viewarticle/input-controls-in-angular-2.0" target="_blank">Input Controls In
    Angular 2.0
  </a>
