<p class="path">forms/components/form-6.ts</p>
<h4>Asynchonous form validation</h4>

<pre><h3>&lt;form [formGroup]="form"&gt;</h3></pre>

Try typing "nick"
<form [formGroup]="form">
  <input type="text" formControlName="username" placeholder="Username"/>

  <p *ngIf="username.pending">Fetching data from the server...</p>

  <div *ngIf="username.dirty && !username.valid && !username.pending">
    <p *ngIf="username.errors.required">Username is required.</p>
    <p *ngIf="username.errors.startsWithNumber">Your username can't start with a number</p>
    <p *ngIf="username.errors.usernameTaken">This username is taken</p>
  </div>

  <button (click)="submitData()" [disabled]="!form.valid" class="btn btn-primary">Sumbit data</button>
</form>
