<p class="path">forms/components/form-9.ts</p>
<h4>Nested Forms in Angular 2</h4>
<ul>
  <li>This form uses the new FormArray class to hold FormGroups.</li>
  <li>formControl and ngModel are used on the inputs to keep the form in sync with the model</li>
  <li>The addPayOff() and deletePayOff() methods manually push or delete FormGroup items into the form's FormArray.</li>
  <li>Use Add/Delete Buttons below and notice how both the form.controls and the model are kept in sync as expected</li>
</ul>
<a href="https:// docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub" target="_blank">Forms
  Updates</a>
<a href="http:// plnkr.co/edit/nHSIsciSZNTQzQjxkXsk?p=preview">Original plunk</a>

<div style="border: 2px solid green; border-radius: 5px; padding: 1em;">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <label>Name</label>
    <input type="text" formControlName="name" [(ngModel)]="myModel.name" placeholder="Name">

    <p>Pay Offs</p>
    <table class="simple-table">
      <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Final?</th>
        <th></th>
      </tr>
      <tbody>
      <tr *ngFor="let po of form.controls.payOffs.controls; let i = index">
        <td>
          <input type="text" size=10 [formControl]="po.controls.amount" [(ngModel)]="myModel.payOffs[i].amount">
        </td>
        <td>
          <input type="text" [formControl]="po.controls.date" [(ngModel)]="myModel.payOffs[i].date">
        </td>
        <td>
          <input type="number" [formControl]="po.controls.number" [(ngModel)]="myModel.payOffs[i].number">
        </td>
        <td>
          <input type="checkbox" [formControl]="po.controls.final" [(ngModel)]="myModel.payOffs[i].final">
        </td>
        <td>
          <button (click)="deletePayOff(i)" style="color: white; background: rgba(255, 0, 0, .5)">x</button>
        </td>
      </tr>
      </tbody>
      <tr>
        <td colspan="4" style="text-align: center; padding: .5em;">
          <button (click)="addPayOff($event)" style="color: white; background: rgba(0, 150, 0, 1)">Add Pay Off</button>
        </td>
      </tr>
    </table>

  </form>
</div>

<p style="text-align: center;">Component Keeps form controls in-sync with Model</p>
<div style="display: flex; justify-content: center;">
  <div style="padding: 1em; border: 1px solid lightgray;">
    <h5>Form Controls:</h5>
    <pre>{{ form.value | json }}</pre>
  </div>
  <div style="padding: 1em; border: 1px solid lightgray;">
    <h5>myModel</h5>
    <pre>{{ myModel | json }}</pre>
  </div>
</div>

