<p class="path">forms/components/form-3.ts</p>
<h4>Model-driven forms - <code>FormGroup and FormControl, formGroup, formGroupName and formControlName</code></h4>

<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <label>Firstname:</label>
  <input formControlName="firstname"
         type="text"
         id="first_name"
         [ngClass]="{invalid: nameCtrl.touched && !nameCtrl.valid}">
    valid: {{ nameCtrl.valid }}, value: {{ nameCtrl.value }}<br>

  <label>Lastname:</label>
  <input type="text" formControlName="lastname"> <br>

  <label>Email:</label>
  Is valid {{registerForm.get('email').valid}}
  <input type="text" formControlName="email"> <br>


  <fieldset formGroupName="address">
    <label>Street:</label>
    Is valid {{registerForm.get('address').get('street').valid}}
    Is valid {{registerForm.get('address.street').valid}}
    <input type="text" formControlName="street"> <br>

    <label>Zip:</label> 
    Is valid {{registerForm.get('address.zip').valid}}
    <input type="text" formControlName="zip"> <br>

    <label>City:</label>
    Is valid {{registerForm.get('address.city').valid}}
    <input type="text" formControlName="city">
  </fieldset>

  <button type="submit">Submit</button>
</form>
