.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #37373c;
}

body * {
  padding: 0px;
  font-family: "Avenir";
  line-height: normal;
  font-size: 13px;
}

router-outlet {
  display: none;
}

li {
  margin-bottom: 15px;
  line-height: 14px;
}

p code, h4 > code, li > code {
  display: inline-block;
  margin: 0;
}

p {
  font-family: "Avenir";
  padding-right: 20px;
  margin-bottom: 15px;
  line-height: 14px;
}

a {
  font-style: italic;
  color: #fbff73;
  text-decoration: none;
  background-color: #ce0271;
  padding: 0px 7px 1px;
  border-radius: 2px;
  font-size: 11px;
  display: inline-block;
}

a:after {
  content: ">>";
}

.links > a, nav > a {
  /*box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.58);*/
  position: relative;
  left: 3px;
  margin-right: 10px;
  display: table;
}

a.block {
  display: table;
}

p > a {
  display: inline-block;
}

a.big {
  font-size: 13px;
  background-color: #ce0271;
}

a:hover {
  background-color: #6b003a;
  color: white;
}

h1 {
  font-size: 26px;
  text-decoration: underline;
  margin-bottom: 15px;
}

h4, h3, h2 {
  margin: 10px 0 0;
  padding: 0;
  color: lightslategrey;
  font-size: 20px;
}

h4, h3 {
  font-size: 15px;
}

h4 {
  background: rgb(125, 125, 134);
  display: table;
  padding: 3px 15px;
  color: #f0ff37;
  border-radius: 3px;
  font-weight: normal;
  font-size: 16px;
  box-shadow: 0px 6px 14px 1px rgba(0, 0, 0, 0.58);
  z-index: 2;
  margin: -2px 0 8px 0;
  font-family: Courier;
}

#container > ng-component > h4 {
  background-color: green;
  position: relative;
  top: -8px;
}

h4:first-child {
  margin: 8px 0;
}

h5 {
  font-size: 13px;
  background-color: #464861;
  padding: 1px 10px;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
  margin: 5px 0;
  display: table;
}

h5:before {
  content: "\2022";
  width: 10px;
  color: red;
  margin-right: 10px;
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
}

ul.todos {
  width: calc(100% - 10px);
  background-color: #07bd07;
  padding: 3px;
  border: solid 3px #259e00;
  margin-right: 10px;
  list-style: none;
  margin-left: 0px;
  margin-bottom: 3px;
  position: fixed;
  z-index: 2;
}

ul.todos li {
  font-size: 11px;
  margin: 0px;
  font-family: monospace;
}

ul.bullets {
  background-color: #a0a0a0;
  padding: 5px 5px 5px 0;
}

ul.bullets li {
  background-color: #464861;
  padding: 1px 10px;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
  margin: 5px 0 5px 18px;
  display: table;
}

i {
  background-color: #ffffa4;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  padding: 3px 10px;
  text-decoration: none;
}

button[disabled] {
  background: dimgrey !important;
  opacity: 0.3;
}

hr {
  border: 0;
  position: relative;
  left: -10px;
  border-top: solid 3px #ababab;
  margin: 40px 0 0;
  padding: 0;
  box-shadow: 0px 6px 14px 1px rgba(0, 0, 0, 0.58);
}

hr:after, hr:before {
  content: "";
  display: block;
  width: 10px;
  height: 54px;
  background-color: #ababab;
  position: absolute;
  right: 0;
}

hr:before {
  left: 0;
}

nav {
  background-color: #466c94;
  padding: 7px 3px 3px;
  border-radius: 3px;
  position: fixed;
  z-index: 99;
}

nav.sub {
  position: relative;
}

nav.main {
  white-space: nowrap;
  overflow: hidden;
}

nav > a {
  max-width: 188px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-size: 13px !important;
  display: inline-block !important;
  margin-right: 10px !important;
  background-color: #333 !important;
  color: white !important;
  padding: 2px 10px !important;
  text-decoration: none !important;
}

nav > a:visited {
  color: white
}

nav .router-link-active,
nav .active {
  background-color: red !important;
}

nav .router-link-active:hover,
nav .active:hover {
  background-color: red !important;
}

nav a:hover {
  background-color: #666 !important;
}

code {
  font-family: "Courier New";
  background-color: black;
  padding: 0 2px;
  color: #f5cf00;
  display: table;
  white-space: pre-wrap;
  margin: 0 0 10px 0;
  font-size: 13px;
  font-weight: normal;
}

p code, li code {
  white-space: normal;
  display: inline-block;
}

pre {
  font-family: Courier;
  color: black;
  line-height: 15px;
  padding: 5px 10px;
  margin: 0;
  background-color: cornsilk;
  font-size: 15px;
}

pre.limit-height {
  height: 200px;
  overflow: scroll;
  display: inline-block;
}

h4 pre {
  font-family: Courier;
  background-color: cornsilk;
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: gold;
  position: relative;
  top: -2px;
}

h4 pre:before {
  content: " (";
}

h4 pre:after {
  content: ")";
}

section.main {
  padding-right: 3px;
}

.red {
  color: #e02828;
  font-weight: bold;
}

.ng-dirty.ng-invalid {
  border: 1px red solid
}

.has-error {
  border-color: red;
}

#container {
  flex: 1;
  /*overflow: hidden;*/
  padding-left: 5px;
  margin-top: 65px;
  margin-left: 200px;
}

#container.special, .special {
  margin-top: 65px;
  background-color: #cacaca;
  border: solid 5px #c1c1c1;
  margin-right: 10px;
}

.miscellaneous {
  display: flex;
  height: 100%;
}

.miscellaneous nav {
  background-color: #AFC7D2;
  margin-top: 65px;
  margin-bottom: 15px;
  display: inline-block;
  float: left;
  min-width: 150px;
  max-width: 200px;
  margin-right: 10px;
  position: fixed;
}

div.comps > * {
  display: block;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: solid 5px #c1c1c1;
}

div.comps > *:nth-child(odd) {
  background-color: #cacaca;
}

div.comps > *:nth-child(even) {
  background-color: #c5c5da;
}

div.comp:after {
  content: "";
  display: table;
  clear: both;
}

div.comps a[routerLink] {
  background-color: #35e000;
  color: #000000;
  box-shadow: none;
  border: solid 2px #259e00;
  border-radius: 3px;
  font-style: normal;
  margin-bottom: -3px;
  margin-top: -3px;
  padding: 0 2px;
  font-size: 11px;
}

div.comps a[routerLink]:hover {
  background-color: darkcyan;
}

div.comps a[routerLink]:after {
  content: " [int]";
  color: #259e00;
}

div.comps a {
  margin-bottom: 2px;
}

p.title, span.title {
  font-weight: bold;
  font-size: 15px;
  display: block;
  color: #3a3a3a;
}

p.code-example {
  font-style: italic;
  margin-bottom: 0px;
  font-size: 11px;
}

strong, p.strong, li.strong {
  color: white;
  background: #88621d;
  padding: 0 4px;
  font-weight: normal;
  font-size: 12px;
  border-radius: 4px;
}

p.strong {
  display: table;
}

p.file, p.path {
  font-family: "Courier";
  background: #827e9c;
  color: white;
  margin: 0;
  border-radius: 2px;
  padding: 0 3px;
  display: inline-block;
  top: -2px;
  position: relative;
  font-size: 10px;
}

p.well {
  background-color: #a5a5a5;
  border-radius: 5px;
  border: solid 3px #949494;
  padding: 5px;
}




