<h4>Dependency Injection</h4>
<inject-component></inject-component>

<pre>
The DI in Angular 2 basically consists of three things:
<strong>Injector</strong> - The injector object that exposes APIs to us to create instances of dependencies.
<strong>Provider</strong> - A provider is like a recipe that tells the injector how
to create an instance of a dependency. A provider takes a token and maps
that to a factory function that creates an object.
<strong>Dependency</strong> - A dependency is the type of which an object should be created.

We get a service from a dependency injector by giving it a token.

<strong>constructor(logger: LoggerService) {
logger.logInfo('Creating HeroBiosComponent');
}</strong>

In the case above Angular asks the injector for the service associated
with the token called LoggerService and and assigns the returned value
to the logger parameter.

A provider is a recipe for delivering a service associated with a
token (see below for what a token is).

If the injector doesn't have a provider for the requested token, it delegates
the request to its parent injector, where the process repeats until there are
no more injectors

A new injector has no providers. Each component has it's own injector or child-injector

The simple class provider is the most typical by far.

<strong>{ provide: LoggerService, useClass: DateLoggerService }</strong>
The “LoggerService” is the token, the “DateLoggerService” is the definition object

The provide object literal above takes a token and a definition object.
The token is usually a class but it doesn't have to be.

Set the useValue property to a fixed value that the provider can return as the dependency object.

Use this technique to provide runtime configuration constants such as web-site
base addresses and feature flags. We often use a value provider in a unit test
to replace a production service with a fake or mock.


</pre>
