.avatar {
  width: 20px;
  height: 20px;
}

a.nav {
  cursor: pointer;
}

a.nav.active {
  background-color: lightgrey;
  cursor: default;
}

thead td {
  cursor: pointer;
  text-decoration: underline;
}

td {
  padding: 5px;
}
