<hr>
<h4>The fix for the solution above is...</h4>
<pre>
One great solution is to take advantage of the selector in the @Directive decorator.
You simply define a directive that selects for &lt;li&gt; elements, then use a
@ContentChildren query to filter all &lt;li&gt; elements down to only those that
are content children of the component.

Note:  It seems like it might work to select for only &lt;li&gt; elements
within &lt;my-list&gt; tags (e.g. "my-list li"), but it's important to note
that parent-child selectors aren't yet supported.  If you want to
limit the results to children of your component, using queries to filter is the best way.
</pre>
